* {
  padding: 0;
  margin: 0;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}    

body {
  font-family: Arial, sans-serif;
  background-color: #1d1b1b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

section {
  flex: 1;
  background-color: rgba(44, 42, 100, 0.8);
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-family: "Press Start 2P", serif;
  font-size: 30px;
  color: white;
}

a.back {
  text-decoration: none;
  font-size: 1.2em;
  color: #4CAF50;
  margin-top: 20px;
  display: block;
}

a.back:hover {
  color: #388E3C;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.filters button {
  padding: 20px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 20%;
  box-sizing: border-box;
}

.filters input {
  padding: 20px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  box-sizing: border-box;
}

input[type="text"]:focus, select:focus, button:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  background-color: #00FF85;
  font-family: "Press Start 2P", serif;
  color: white;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #00cc66;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #00FF85;
  cursor: pointer;
}

td button {
  background-color: #00FF85;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 0.9em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

td button:hover {
  background-color: #00cc66;
}

td button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #7c18ff;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #00cc66;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #2e3c5c;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#viewProductModal .modal-content {
  font-size: 18px;
  line-height: 1.6;
}

#viewProductModal .modal-content p {
  margin-bottom: 10px;
}

#viewProductModal .modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

#viewProductModal .modal-content button {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-content label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
  width: 100%;  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 15px;
}

.modal-content textarea {
  height: 100px;
  resize: vertical;
}

/* Scrollbar personalizada */
.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #1d2a44;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #00FF85;
  border-radius: 4px;
}

#editProductModal .modal-content {
  font-size: 18px;
  line-height: 1.6;
}

#editProductModal .modal-content p {
  margin-bottom: 10px;
}

#editProductModal .modal-content img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

#imagePreviewContainer {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 20px;
}

#imagePreviewContainer img {
  max-width: 110%;
  height: auto;
  border-radius: 10px;
}

/* Estilos do Carrossel */
.carousel {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}